.container {
    max-width: 300px;
    max-height: 300px;

    min-width: 150px;
    padding: 30px;
    display: grid;
    grid-gap: 20px;

    place-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

    border: 2px solid white;
    border-radius: 8px;


    transition: 1s;

    &:nth-child(odd):hover {
        background-color: #333;
        color: white;
        transform: rotate(360deg);

        
    }

    &:nth-child(even):hover {
        background-color: white;
        color: black;
        transform: skewY(10deg) scale(105%);

        .container_description {
            color: black;
        }
    }


    @media screen and (max-width:500px) {
        border-radius: 0px;
        padding: 20px;
        grid-gap: 10px;
    }

    @media screen and (max-width:800px) {
        padding: 25px;



        .container :nth-child(n):hover {
            background-color: #333;
            color: white;
            transform: rotate(360deg);
    
            
        }

    }

    @media screen and (min-width:800px) {
        height: 300px;
    }







    &_title {
        font-size: clamp(14px, 10vw, 22px);
    }


}