
* {
    color: white;
}

.app {
    max-width: 1700px;
    min-width: 400px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width:800px) {
    .line {
        margin-top: 50px;
    }
}