.containerBox {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    grid-gap: 20px;

    place-items: center;

    justify-content: center;
    align-items: center;
    
    padding: 20px;

    


}

.title {
    font-size: clamp(40px, 10vw, 90px);
    margin-bottom: 20px;
    text-align: center;
    padding: 3px;
}



@media screen and (max-width:800px) {
    .containerBox {
        grid-template-columns: 250px 250px;
        grid-gap: 10px;
    }

    .title {
        margin-top: 50px;
    }
}

@media screen and (max-width:500px) {
    .containerBox {
        grid-template-columns: 180px 180px;
        padding: 10px;
        grid-gap: 0px;
    }
}