.header {
    
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        height: 100vh;
        align-content: space-around;
    }

    @media screen and (max-width: 500px) {
        align-content: space-between;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;


    &_title {
        font-weight: 300;
        font-size: clamp(27px, 10vw, 42px);
        
        padding: 10px;
        letter-spacing: 3px;

        @media screen and (max-width: 800px){
            text-align: center;
            line-height: 50px;
        }
        &Bold {
            font-weight: 700;
        }
    }
}

.logoImage {
    @media screen and (max-width: 800px) {
        width: 250px;
        height: 250px;

        cursor: pointer;
    }

    width: 150px;
    height: 150px;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
