.header {

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        height: 100vh;
        align-content: space-around;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.logoImage {
    @media screen and (max-width: 800px) {
        width: 250px;
        height: 250px;
    }

    width: 150px;
    height: 150px;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 800px) {
        margin: 20px;
    }
}
