.container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    @media  screen and (max-width:800px) {
        flex-direction: column;
    }
    animation: apear 1s forwards;
}

@keyframes apear {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    25% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}


.infoBox {
    padding: 20px;
    display: grid;
    place-items: center;

    button {
        cursor: pointer;
    }
}

.title {
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 26px;
}

.chooseTitle {
    font-size: 22px;
    letter-spacing: 2px;
}

.titleDescription {
    font-size: 17px;
    letter-spacing: 2px;
    
}

.chooseBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &_description {
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin: 0 auto;
    }

    
    &_info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 2px;
        gap: 20px;
    }
}

.image {
    
    max-width: 512px;
    max-height: 512px;

    @media  screen and (max-width:1200px) {
        max-width: 300px;
        max-height: 300px;
    }


}