.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
    padding: 20px 20px;
    &_title {
        font-size: clamp(18px, 10vw, 60px);
        padding: 40px 20px;
        
    }
}


.socialMediaBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    place-items: center;
    
    text-decoration: none;
    
    


    &_link {
        opacity: 0;
        transition: opacity 0.3s; 
        
       
    }

    
    &_link_box {
        display: flex;
        justify-content: space-around;
        align-items: center; 
        transition: 1s;
        text-decoration: none;
    }

    &_icon {
        width: clamp(48px, 10vw, 60px);
        height: clamp(48px, 10vw, 60px);
    }
}

.socialMediaBox_link_box:hover .socialMediaBox_link {
    opacity: 1;
}

.socialMediaBox_link_box:hover {
    transform: scale(105%);
}


@media screen and (max-width:800px) {
    .container {
        display: grid;
        padding: 20px;
        justify-content: center;

        &_title {
            text-align: center;
        }
    }
}
@media screen and (max-width:1220px) {
    .socialMediaBox_link {
        display: none;
    }

    .socialMediaBox_link_box {
        padding: 20px;
    }
}



